/* Analysis.css */
.Analysis {
    text-align: center;
    position: relative; /* Needed for pseudo-element positioning */
    min-height: 100vh;
    height: auto; /* Adjust based on content */
  }
  
  .Analysis::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../img/forestFootprintBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
    z-index: -1;
    background-color: #fef6e4; /* Fallback color */
  }

.chart-container {
    text-align: center;
    margin-top: 70px;
}

.line-chart {
    margin: auto;
}

.average-steps-display {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.all-buttons-container {
    margin-top: 20px;
    display: flex;         /* Use flexbox for alignment */
    flex-direction: column; /* Align items vertically */
    align-items: center;    /* Center-align items horizontally */
}

.buttons-container {
    margin-top: 20px;
}

.week-button {
    background-color: #6a994e;
}

.week-button,
.sync-button,
.sync-last-7-days-button {
    margin-right: 10px;
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.sync-buttons-container {
    margin-top: 10px;
}

.sync-button {
    background-color: #e76f51;
    color: white;
}

.sync-last-7-days-button {
    background-color: #e76f51;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.alert-message {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff; /* Default white background */
    color: #333; /* Default text color */
}

.alert-message.success {
    background-color: #58D68D; /* Success green background */
    color: white;
}

.alert-message.progress {
    background-color: #E74C3C; /* Progress red background */
    color: white;
}

.alert-message.error {
    background-color: #E74C3C; /* Error red background */
    color: white;
    font-weight: bold;
}

.week-button.disabled,
.sync-button.disabled,
.sync-last-7-days-button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
