/* src/components/HomePage/HomePage.css */
.HomePage {
    text-align: center;
  }
  
  .HomePage-header {
    background-color: #282c34;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .HomePage-content {
    margin: 20px;
  }
  
  .HomePage-loginButton {
    background-color: #4285f4; /* Google's blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .HomePage-loginButton:hover {
    background-color: #357ae8;
  }
  
  .HomePage-footer {
    background-color: linear-gradient(to bottom, #0F3443 , #34E89E); /*or can have #54372 + #658715 or #7bc393 + #31b7c2 */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Banner {
  width: auto;
  height: 400px; /*can change this to fit */
  }

  .Footer {
    max-width: 100%; 
    max-height: 100%; 
  }